@import "../../../sass/_media.scss";
@import '../../../sass/gradient.scss';

@include mat-table-columns((
  username: (width: 8rem),
  email: (width: 15rem),
  gender: (width: 3rem)
));

// TABLE
table {
  width: 100%;
  margin-top: 1rem;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table tr:nth-child(even){
  background-color: whitesmoke;
}

td, th {
  //width: 25%;
  border-style: none !important;
}

tr .gender {
  text-align: center;
}

tr {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-right: 5px;
  padding-left: 5px;
  height: 56px !important;
}

th {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
}
.mat-header-row {
  background: $gradient;
}

// ::ng-deep .mat-sort-header-container{
//   display:flex;
//   justify-content:center;
// }

mat-paginator {
  background: whitesmoke;
}

.inline-btn {
  display: flex;
  padding-left: 0.5em;
}

.spacer {
  padding: 0.6em;
}

.display {
  text-align: right;
}
