<div class="content">
  <h1>CHARTE ET POLITIQUE DE CONFIDENTIALITÉ</h1>
  <p>
    Cette charte décrit la politique de confidentialité et de traitement des données mise en place sur notre application OnVaGeeker - OVG – www.ovg.fr
    Nous tenons à souligner que toute application mobile que vous pourrez trouver sur les stores Apple et Google (entre autre) ne sont pas de notre fait et donc ni sous notre contrôle, ni sécurisées.
    Le responsable du traitement de vos données (par l'entremise de son DPO - Data Protection Officer) est la société DTA Ingénierie SIRET n°53367403200040 située au 5 Rue Jacques Brel, Bâtiment A, 44800 Saint-Herblain, France. Vous pouvez nous contacter en écrivant à TactFactory, Les Basses Forges, 35530 Noyal-sur-Vilaine, France ; ou via le formulaire de contact du site.
    Nous nous engageons à protéger la confidentialité de nos utilisateurs et de nos clients. La présente Politique de Confidentialité est destinée à vous informer de la manière dont nous recueillons, définissons et utilisons les données qui pourraient permettre de vous identifier, telles que votre email, votre adresse postale, vos autres coordonnées ou identifiants en ligne et autres informations que vous nous communiquez lorsque vous utilisez notre application.
  </p>

  <h3>QUELLES DONNÉES PERSONNELLES COLLECTONS-NOUS ?</h3>
  <p>
      Lorsque vous visitez ou utilisez notre application, nous pouvons collecter les données suivantes :
      • Données Personnelles que vous décidez de nous communiquer lorsque vous créez un compte (email, date de naissance, etc.)
      • Informations relatives à l'utilisation de notre application telles que les informations relatives à l’appareil et au navigateur que vous utilisez, votre adresse IP et votre emplacement géographique, la date et l’heure de votre visite, la durée de votre visite, la source qui vous a adressé à nous.
      A noter que nous ne STOCKONS pas les informations bancaires.
  </p>

  <h3> PROTECTION DE VOS DONNÉES PERSONNELLES.</h3>
  <p>
    La transmission d’informations sur Internet n’est pas totalement sûre. Par conséquent, bien que nous fassions de notre mieux pour protéger vos Données Personnelles, nous ne sommes pas en mesure de garantir la sécurité des données transmises vers notre site. Leur transmission se fait à vos risques.
    Après réception de vos Données Personnelles, nous mettrons en œuvre des procédures strictes et des dispositifs de sécurité applicables à ces données. Notamment, votre mot de passe est conservé sous une forme cryptée dans notre base de données.
  </p>

  <h3>COMMENT UTILISONS-NOUS VOS DONNÉES PERSONNELLES ?</h3>
  <p>
    Nous utilisons les Données Personnelles pour vous fournir les services que vous demandez et présenter du contenu que nous estimons pouvoir vous intéresser.
    <br>
    Nous utilisons également vos Données Personnelles :
    • Dès lors que nous l’estimons nécessaire pour exercer nos activités et poursuivre nos intérêts légitimes, et en particulier :
    • pour préserver la sécurité de notre site et de nos systèmes et empêcher la fraude, les incidents liés à la sécurité et autres crimes,
    • pour vérifier la conformité à nos conditions générales et pour constater, exercer ou défendre un droit en justice,
    • pour nous aider à contrôler, à améliorer et à protéger notre site,
    • pour examiner et répondre à toute question ou réclamation reçue de votre part ou d’autres personnes concernant notre site. • Dans le cas où vous nous donnez votre consentement :
    • pour vous notifier des nouvelles sorties ou autres informations de ce type, par email,
    • pour déposer des cookies vous permettant entre autre de naviguer sur le site en passant d'une page à l'autre tout en restant connecté.
    • Aux fins qui sont exigées par la loi :
    • pour répondre aux demandes des pouvoirs publics ou d’autorités chargées de l’application de la loi dans le cadre d’une enquête,
    • pour remplir des obligations légales, réglementaires et de conformité.
  </p>


  <h3>PARTAGER DES DONNÉES PERSONNELLES AVEC DES TIERS.</h3>
  <p>
    Nous prenons la sécurité et la méthode de traitement de vos Données Personnelles très au sérieux et nous ne vendrons jamais vos Données Personnelles, en aucune circonstance.
    <br>
    Toutefois, nous pouvons communiquer vos Données Personnelles à des tiers sélectionnés, notamment dans les cas suivants :
    • Aux agences de médias et aux partenaires annonceurs afin de lancer des campagnes marketing ciblées,
    • Si nous achetons, vendons ou cédons une activité ou des actifs ou si nous sommes en cessation de paiement, en faillite ou sous administration judiciaire. Si tel était le cas, nous pourrions être dans l’obligation de communiquer vos Données Personnelles au vendeur ou, selon le cas, à l’acquéreur de cette activité ou de ces actifs,
    • Si nous sommes tenus de communiquer ou de partager vos Données Personnelles afin de respecter une obligation légale, de faire valoir ou appliquer nos conditions générales ou d’autres accords ou de protéger les droits, les biens, ou la sécurité de clients ou d’autres personnes.
    • Aux autorités gouvernementales et à d’autres tiers si la loi l’exige ou l’autorise, incluant mais ne se limitant pas, en réponse aux ordonnances des tribunaux. Nous pouvons également communiquer des informations sur les utilisateurs lorsque nous avons des raisons de penser que quelqu’un compromet ou porte préjudice à nos droits ou à nos biens, aux autres utilisateurs de notre site ou à toute personne à laquelle ces agissements pourraient porter préjudice.
    <br>
    Note : si vous postez des Données Personnelles dans un espace accessible au public sur notre application (tel que les commentaires d'événement), ces Données peuvent être collectées par des tiers (comme Google) sur lesquels nous n’exerçons aucun contrôle. Nous déclinons toute responsabilité concernant l’utilisation de ces Données par ces tiers.
    Veillez donc à faire preuve de prudence et de diligences avant de communiquer des Données Personnelles qui seront postées dans des espaces publics. Vous devriez également éviter de divulguer dans des espaces publics des Données Personnelles qui pourraient être utilisées pour vous identifier (telles que votre nom, votre âge, votre adresse personnelle ou professionnelle ou le nom de votre employeur).
  </p>

  <h3>MODIFICATION ET SUPPRESSION DE DONNÉES PERSONNELLES.</h3>
  <P>
    Vous avez le droit de nous demander de rectifier ou de supprimer vos Données Personnelles. Pour cela, vous pouvez nous contacter en nous écrivant à TactFactory, Les Basses Forges, 35530 Noyal-sur-Vilaine, France ; ou via le formulaire de contact du site.
    A noter qu'en vous rendant sur votre fiche profil, puis en cliquant sur le bouton MODIFIER en haut de page, vous pouvez déjà accéder à vos Données Personnelles pour les modifier ou les supprimer.
    Vos droits concernant vos Données Personnelles sont dans certains cas limités. Par exemple, si pour accéder à votre demande, nous devons divulguer des Données Personnelles concernant une autre personne ou si nous avons une obligation légale ou un motif légitime et impérieux, nous pouvons continuer de traiter les Données Personnelles que vous nous avez demandées de supprimer.
  </P>

  <h3>MODIFICATIONS DE NOTRE POLITIQUE DE CONFIDENTIALITÉ.</h3>
  <p>
    Si nous modifions de manière majeure nos politiques et procédures en matière de confidentialité, nous publierons ces modifications sur notre site afin que vous soyez informé des données que nous collectons, de la manière dont nous les utilisons et des cas dans lesquels nous sommes susceptibles de les communiquer.
  </p>

  <h3>OÙ STOCKONS-NOUS VOS DONNÉES À CARACTÈRE PERSONNEL ?</h3>
  <p>
    L'application OnVaGeeker et ses données est hébergée à Noyal-sur-Vilaine, France, par la société TactFactory.
    CONSERVATION DES DONNÉES.
    Nous conservons vos Données Personnelles aussi longtemps que nécessaire pour mener les activités qui sont décrites dans la présente Politique de Confidentialité. Cependant notez bien, que contrairement à des sites de type Facebook qui ont pour habitude et volonté de conserver un maximum de temps toutes vos données, nous, nos besoins et désirs sont au strict opposé : nous minimisons au maximum le temps de conservation des données car celles-ci ont un cout de stockage que nous ne souhaitons pas supporter, et de plus, plus il y a de données à gérer, plus le site sera lent à charger, ce que nous ne souhaitons pas.
    Exemple: la messagerie interne du site est une messagerie éphémère, et toute conversation non entretenue est automatiquement supprimée après quelques jours.
  </p>

  <h3>NOTRE POLITIQUE EN MATIÈRE DE COOKIES.</h3>
  À l’instar des autres sites Internet, notre site fait appel à des technologies classiques telles que les cookies et autres outils similaires. Nous attirons votre attention sur le fait que des tiers collectent et utilisent des données obtenues grâce à des Cookies. La présente Politique de Confidentialité ne peut décrire les pratiques de ces tiers en matière de confidentialité. Nous vous conseillons de lire leurs politiques de confidentialité et, si vous souhaitez que vos données ne soient utilisées par ces tiers, de suivre les procédures d’opt-out qu’ils proposent, dans la mesure où ils en proposent.

  <h3>POURQUOI UTILISONS-NOUS DES COOKIES ?</h3>
  <p>
    Cookies strictement nécessaires/transactionnels
    L’utilisation de ce type de Cookies est indispensable au bon fonctionnement de notre site. Ces Cookies peuvent s’avérer nécessaires pour vous permettre de vous déplacer sur notre site et d’utiliser nos services, pour l’administration du système, pour empêcher les actes frauduleux, pour maintenir votre connexion d’une page à l’autre. Ces cookies ne peuvent pas être désactivés parce que notre site ne peut pas fonctionner correctement sans eux.
    <br>
    Cookies fonctionnels
    L’utilisation de ce type de Cookies nous permet d’améliorer et de simplifier votre expérience utilisateur. Par exemple, ils peuvent garder en mémoire les choix que vous faites, comme par exemple le pays depuis lequel vous visitez notre site. Ils peuvent ensuite être utilisés pour vous proposer une expérience plus adaptée à vos choix et pour personnaliser et améliorer vos visites sur notre site.
    <br>
    Cookies de performance
    L’utilisation de ce type de Cookies nous permet de mieux comprendre combien d’utilisateurs visitent notre site, comment ils arrivent et naviguent sur notre site ou l’utilisent, et quelles parties de notre site sont les plus populaires. Cela nous aide à améliorer le site, comme par exemple l’expérience de navigation et d’interface, et à améliorer nos services. Nous nous réservons le droit de faire appel à des technologies tierces.
    Ces technologies gardent en mémoire les sites que vous visitez et que des informations sont communiquées à d’autres personnes telles que des annonceurs.
    Les sociétés tierces auxquelles nous faisons appel à des fins de ciblage et publicitaires ont leurs propres politiques en matière de confidentialité. Nous vous conseillons de les lire attentivement.
  </p>

  <h3>COMMENT MODIFIER MES PRÉFÉRENCES EN MATIÈRE DE COOKIES ?</h3>
  <p>
    Nous décrivons ci-dessous un certain nombre de méthodes que vous pouvez utiliser pour gérer vos préférences en matière de cookies en ligne. Pour en savoir plus, consultez également les politiques en matière de confidentialité et de cookies du tiers en question.
    La plupart des navigateurs et des appareils vous permettent de supprimer les technologies de traçage et/ou de bloquer le dépôt de nouvelles technologies de traçage. Pour désactiver les technologies de traçage, consultez le menu « Aide » de votre navigateur ou les paramètres de votre appareil. Notez toutefois que cette manipulation peut ne pas s’avérer efficace pour toutes les technologies de traçage et la désactivation des technologies de traçage peut limiter votre capacité à utiliser les sites et/ou retarder ou affecter la manière dont ils fonctionnent.
    Utilisez les paramètres de votre appareil mobile pour configurer vos préférences en matière de publicité.
    Dans le cas de tiers qui ne sont pas spécifiés dans la présente section, consultez leur politique en matière de confidentialité et de cookies pour en savoir plus sur les publicités qui apparaissent sur votre écran lorsque vous êtes en ligne et la manière dont vous pouvez les refuser.
  </p>
</div>

<div class="bottom">
  Version 1.0
  <br><br>
  Charte et Politique de Confidentialité OVG – DTA Ingénierie – TactFactory – Team 1
</div>
