@import '../../../../sass/gradient.scss';
@import '../../../../sass/box-content.scss';
.content {
  @include box-content;
 }

 .login-form {
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-toolbar {
  color: #fff;
  background: $gradient;
}

.spacer {
  flex: 1 1 auto;
}
.btn {
  float: left;
}
.gradient {
  color: #fff;
  float: right;
  background: $gradient;
  margin: 10px;
}

.incorrect {
  color: #ff2d3b;
  padding: 2rem;
}

.mat-stroked-button{
  margin: 10px;
}
