<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
<app-event-list-toggle class="toggle-btn" (change)="onDrawModeChange($event)"></app-event-list-toggle>

<div [ngSwitch]="drawMode">
  <ng-container *ngIf="page; else loading">
    <div class="event-list" *ngSwitchCase="'list'">
        <ng-container>
          <app-event-list-inline [events]="page.content" ></app-event-list-inline>
        </ng-container>
    </div>
      <div class="event-cards" *ngSwitchCase="'cards'">
        <ng-container *ngFor="let e of page.content">
          <app-event-list-card [event]="e">
            </app-event-list-card>
        </ng-container>
    </div>
    <button *ngIf="user" [routerLink]="['/event/new']" mat-fab class="fab gradient" matTooltip="Créer un événement" matTooltipClass="fab-tooltip">
      <mat-icon>add</mat-icon>
    </button>
  </ng-container>

  <app-paginator
    [totalElements]="totalElements"
    (page)="onPaginate($event)"
  >
  </app-paginator>
</div>

