<mat-card class="event-card" *ngIf="event && event.id"  matTooltip="{{event.description}}" matTooltipClass="tooltip-description">
  <mat-card-header>
    <div mat-card-avatar >
      <img class="event-header-image" src="{{avatar}}/{{event.creator.avatar}}.png" width="38px"/>
    </div>
    <mat-card-title>{{ event.label }}</mat-card-title>
    <mat-card-subtitle>{{ event.creator.username }}</mat-card-subtitle>

  </mat-card-header >
  <div class="event-cover-image" [routerLink]="['/event', event.id]">
      <img mat-card-image src="{{eventimg}}/{{event.type}}.png" alt="Photo de {{ event.label }}">
  </div>
  <mat-card-content>
    <ul>
      <li>{{ event.city }}</li>
      <li>Places : {{ event.nbPlaceMax }}</li>
      <li>{{ event.startAt | date: 'medium' }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['/event', event.id]"><button color="primary" mat-stroked-button>Détails</button></a>
    <span class="spacer"></span>
    <button class="gradient" mat-flat-button (click)="onJoin(event)">Rejoindre</button>
  </mat-card-actions>
</mat-card>
