<div class="content">
  <div class="header">
    <mat-toolbar>
        <mat-toolbar-row>
          <span>Préférences</span>
          <span class="spacer"></span>
          <button *ngIf="isModal" mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="pref-dialog">
    <form [formGroup]="preferences" (ngSubmit)="onSubmit()">
      <div class="pref-notifications">
          <mat-toolbar class="sub">
              <mat-toolbar-row>
                <span>Notifications</span>
              </mat-toolbar-row>
            </mat-toolbar>
        <ul>
          <li>
            <!-- Hide Current User Email -->
            <mat-slide-toggle formControlName="hide" (change)="onChange($event, 1)" aria-label="Desactivate application notficiations">Désactiver les notifications dans l'application</mat-slide-toggle>
          </li>
          <li>
            <!-- Hide Current User Birthate -->
            <mat-slide-toggle formControlName="hide" (change)="onChange($event, 2)" aria-label="Desactivate mail notficiations">Désactiver les notifications par mail</mat-slide-toggle>
          </li>
        </ul>

      </div>
      <div class="pref-hide">
        <mat-toolbar class="sub">
          <mat-toolbar-row>
            <span>Confidentialité</span>
          </mat-toolbar-row>
        </mat-toolbar>
        <ul>
          <li>
            <!-- Hide Current User Email -->
            <mat-slide-toggle formControlName="hide" (change)="onChange($event, 3)" [checked]="checked">{{ hideMail }} mon email</mat-slide-toggle>
          </li>
          <li>
            <!-- Hide Current User Birthate -->
            <mat-slide-toggle formControlName="hide" (change)="onChange($event, 4)">{{ hideBirthdate }} ma date de naissance</mat-slide-toggle>
          </li>
          <li>
            <!-- Hide Current User Job -->
            <mat-slide-toggle formControlName="hide" (change)="onChange($event, 5)">{{ hideJob }} ma profession</mat-slide-toggle>
          </li>
          <li>
            <!-- Hide Current User Marital Status -->
            <mat-slide-toggle formControlName="hide" (change)="onChange($event, 6)">{{ hideStatus }} ma situation familiale</mat-slide-toggle>
          </li>
          <li>
            <!-- Hide Current User Gender -->
            <mat-slide-toggle formControlName="hide" (change)="onChange($event, 7)">{{ hideGender }} mon genre</mat-slide-toggle>
          </li>
        </ul>
      </div>

      <button class="btn" mat-stroked-button *ngIf="isModal" (click)="close()">Fermer</button>
      <span class="spacer"></span>
      <button class="btn" mat-stroked-button color="primary" (click)="save()">Appliquer</button>
      <span class="spacer"></span>
      <button class="gradient" mat-raised-button type="submit">Sauvegarder</button>
    </form>
  </div>
</div>
