@import '../../../sass/gradient.scss';
@import '../../../sass/box-content.scss';
// ---------- Global content css ---------- //
.content {
  @include box-content;
 }

.spacer {
  flex: 1 1 auto;
}

 // ---------- Modal Dialog ---------- //
 .pref-dialog {
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
}

mat-toolbar-row {
  color: #fff;
  background: $gradient;
}

mat-toolbar-row.sub {
  background: #fff;
}
.title {
  background: -webkit-linear-gradient(135deg,  #ff2d3b, #ffb702);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // background-color: #fff;
}

// ---------- Form ---------- //
form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

// buttons
.mat-stroked-button{
  margin: 10px;
}

.btn {
  float: left;
}

.gradient {
  color: #fff;
  float: right;
  background: $gradient;
  margin: 10px;
}

// ---------- Mat Slide Custom Toggle ---------- //
// .mat-slide-toggle{
//   pointer-events: none;
// }

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// .mat-slide-toggle-thumb {
//   width: 10px !important;
//   height: 10px !important;
//   transform: translate(50%, 50%);
// }

// .mat-slide-toggle-bar {
// background-color: rgb(245, 245, 245);
// border-radius: 15px !important;
// height: 16px !important;
// }

// .mat-slide-toggle-thumb-container {
// top: -2px !important;
// }

// .mat-slide-toggle.mat-checked:not(.mat-disabled)
// .mat-slide-toggle-bar {
// background-color: #000;
// }

// .mat-slide-toggle.mat-checked:not(.mat-disabled)
// .mat-slide-toggle-thumb {
// background-color: #fff;
// }
