table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table tr:nth-child(even){
  background-color: rgba(243, 128, 33, 0.6);
}

.usertable {
  margin-right: 8rem;
  margin-left: 8rem;
  padding-top: 20px;
}

th {
  background-color: rgba(243, 128, 33, 0.6);
}

 td, .display {
  vertical-align: middle;
  text-align: center;
}
