@import '../../../../sass/gradient.scss';
@import '../../../../sass/box-content.scss';
.content {
  @include box-content;
 }

 .register-form {
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
}

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-toolbar {
  color: #fff;
  background: $gradient;
}

.spacer {
  flex: 1 1 auto;
}

.btn {
  color: #fff;
  float: right;
  background: $gradient;
}

fieldset {
  border-style: none;
}

