<mat-toolbar class="fixed-top">
  <mat-toolbar-row>
    <a [routerLink]="['event']"><img class="brand-logo" src="../../../assets/logo.png" alt="OVG"/></a>
    <form class="search-form" [formGroup]="searchForm">
      <mat-form-field color="primary" class="search-bar">
        <input matInput placeholder="Rechercher un événement" formControlName="label">
      </mat-form-field>
      <button mat-icon-button aria-label="Rechercher un événement" (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </form>
    <!-- Event List -->
    <a [routerLink]="['event']" class="icon"><mat-icon class="toolbar-icon" aria-hidden="false" aria-labelledby="events" matTooltip="Voir les événements">event</mat-icon></a>

    <!-- User List -->
    <a [routerLink]="['user']" class="icon"><mat-icon class="toolbar-icon" aria-hidden="false" aria-label="users" matTooltip="Voir les utilisateurs">group</mat-icon></a>

    <span class="spacer"></span>

    <!-- Notifications if logged -->
    <a *ngIf="user" class="icon" [matMenuTriggerFor]="notifications">
      <mat-icon
        matBadgeColor="accent"
        matBadge="5"
        matBadgeColor="warn"
        matBadgePosition="above after"
        matBadgeSize="medium"
        class="toolbar-icon"
        aria-hidden="false"
        aria-label="notifications"
        matTooltip="Consulter mes notifications">notifications</mat-icon>
      </a>

    <!-- Messages if logged -->
    <a *ngIf="user" class="icon" [matMenuTriggerFor]="messages">
      <mat-icon
        matBadgeColor="accent"
        matBadge="2"
        matBadgeColor="warn"
        matBadgePosition="above after"
        matBadgeSize="medium"
        class="toolbar-icon"
        aria-hidden="false"
        aria-label="messages"
        matTooltip="Consulter mes messages">mail</mat-icon></a>

    <!-- Account Dropdown if logged -->
    <a *ngIf="user" class="icon" [matMenuTriggerFor]="menu"><mat-icon class="toolbar-icon" aria-hidden="false" aria-label="messages">account_circle</mat-icon></a>

    <!-- Connxion/Login button if !logged -->
    <button *ngIf="!user" mat-stroked-button color="primary" (click)="openDialog()">Connexion</button>

    <!-- Account Dropdown menu -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['user/me']">
        <mat-icon>person</mat-icon>
        <span *ngIf="user">{{user.username}}</span>
      </button>
      <!-- Other MatIcon :  face favorite -->
      <button mat-menu-item>
        <mat-icon>face</mat-icon>
        <span>Mes amis</span>
      </button>
      <button mat-menu-item (click)="openPrefDialog()">
        <mat-icon>settings</mat-icon>
        <span>Mon compte</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Déconnexion</span>
      </button>
    </mat-menu>

     <!-- Messages Dropdown menu   *ngIf="user.messagesReceived && user.messagesReceived.length" -->
     <div>
        <mat-menu #messages="matMenu">
            <ng-container *ngIf="messagePage">
              <button mat-menu-item class="drop-message" [routerLink]="['user/me']" *ngFor="let m of messagePage.content">
                <span class="test">
                  {{ m.message }}
                  <span class="date">{{ m.createdAt | date:'shortDate' }}</span>
                </span>
              </button>
            </ng-container>
            <button mat-menu-item (click)="openMessageDialog()">
              <mat-icon>add_comment</mat-icon>
              <span>Nouveau message</span>
            </button>
          </mat-menu>
     </div>

    <!-- Notification Dropdown menu   *ngIf="user.notifications && user.notifications.length" -->
    <mat-menu #notifications="matMenu">
      <ng-container *ngIf="notificationPage">
        <button mat-menu-item class="drop-message" *ngFor="let n of notificationPage.content">
          <span class="test">
            {{ n.label }}
            <span class="date">{{ n.createdAt | date:"shortDate" }}</span>
          </span>
        </button>
      </ng-container>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <ng-container *ngIf="displayForm">
    <app-user-form-login></app-user-form-login>
</ng-container> -->
