<ng-template #loading>
  <app-loader></app-loader>
</ng-template>

<article *ngIf="(user$ | async) as u; else loading">
  <div class="content">
      <div class="header">
        <mat-toolbar>
            <mat-toolbar-row>
              <p class="title">Profil de {{ u.username | uppercase }}</p>
              <span class="spacer"></span>
              <p class="lastlog">Dernière connexion : {{ u.lastLogin | date: 'medium' }}</p>
              <span class="spacer"></span>
              <button class="btn" mat-raised-button type="submit">Signaler</button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="event-header-image">
          <img class="header-image" src="https://png.pngtree.com/svg/20161027/service_default_avatar_182956.png" alt="Avatar de l'utilisateur.">
          <span class="user-rate">Note : {{ u.rate }}</span>
        </div>
      </div>
      <div class="view-form">
          <p *ngIf="!u.enabled; else viewDetails" >
              L'utilisateur à désactivé son compte.
          </p>
          <ng-template #viewDetails>
            <dl>
              <dt>Nom d'utilisateur</dt>
              <dd>{{ u.username }}</dd>

              <dt>Prénom</dt>
              <dd>{{ u.firstname }}</dd>

              <dt>Email</dt>
              <!-- Check user préférences -->
              <dd>{{ u.email }}</dd>

              <ng-container *ngIf="u.languages">
                <dt>Langues parlés</dt>
                <dd *ngFor="let lang of u.languages; index as i">{{ lang.default }} {{ lang.level }}</dd>
              </ng-container>

              <ng-container *ngIf="u.birthdate">
                <dt>Date de naissance</dt>
                <dd>{{ u.birthdate | date: 'shortDate' }}</dd>
                <!-- Check user préférences -->
                <dt>Age</dt>
                <dd>{{ u.birthdate | age }}</dd>
              </ng-container>

              <ng-container *ngIf="u.job">
                <dt>Emploi</dt>
                <dd>{{ u.job }}</dd>
              </ng-container>

              <ng-container *ngIf="u.city">
                <dt>Ville</dt>
                <dd>{{ u.city }}</dd>
              </ng-container>

              <ng-container *ngIf="u.maritalStatus">
                <dt>Sitation familiale</dt>
                <dd>{{ u.maritalStatus }}</dd>
              </ng-container>

              <ng-container *ngIf="u.gender">
                <dt>Genre</dt>
                <dd>{{ u.gender }}</dd>
              </ng-container>

              <dt>Date d'inscription</dt>
              <dd>inscrit depuis le {{ u.createdAt | date: 'short' }}</dd>

              <dt>Dernière modification</dt>
              <dd>{{ u.updatedAt | date: 'short' }}</dd>

              <ng-container *ngIf="u.hobbies">
                <dt>Centres d'intérêts</dt>
                <dd *ngFor="let hobby of u.hobbies; index as i">{{ hobby.label }}</dd>
              </ng-container>

              <ng-container *ngIf="u.events.values">
                <dt>Evenements</dt>
                <dd *ngFor="let event of u.events; index as i">{{ event.label }}</dd>
              </ng-container>

            </dl>
          </ng-template>
      </div>
      <button class="btn" mat-raised-button type="submit">Inviter</button>
    </div>
</article>
