@import '../../../sass/gradient.scss';
@import '../../../sass/box-content.scss';
.content {
  @include box-content;
 }

 .view-form {
  padding: 2rem;
  margin: auto;
  display: flex;
  justify-content: center;
  //flex-direction: row;
}

form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-toolbar {
  color: #fff;
  background: $gradient;
}

.spacer {
  flex: 1 1 auto;
}

.btn {
  color: #fff;
  float: right;
  background: $gradient;
}

.event-header-image {
//  display: flex;
  border-radius: 50%;
  width: 15em;
  padding-top: 1rem;
  padding-left: 1rem;
}

.header-image {
  margin: auto;
  width: 100%;
  opacity: 0.8;

}

.username {
  font-size: 1rem;
  font-weight: 200;
  color: #fff;
  margin-left: 1rem;
}

a {
  color: #fff;
  font-weight: 500;
}

// dl {
//   border: 3px double #ccc;
//   padding: 0.5em;
// }
// dt {
//   float: left;
//   clear: both;
//   // width: 15rem;
//   text-align: right;
//   font-weight: bold;
// }

dt::after {
  content: " : ";
}

dl {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  max-width: 670px;
}

dl > * {
  padding-top: 0.5em;
}

dt {
  width:30%;
  font-weight: bold;
  text-align:right;
  // color: #ff2d3b/
  background: -webkit-linear-gradient(135deg,  #ffb702, #ff2d3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

dd {
  width:60%;
  padding-left:1em;
  margin-left: 0px;
}

dd + dd {
  width: 100%;
  padding-left: calc(30% + 1em);
}

dt + dt {
  padding-right: 60%;
}

dt + dt + dd {
  margin-top: -1.625em; /* own height including padding */
  padding-left: calc(30% + 1em);
}
