.container {
    margin: 5rem auto;
    width:80%;
}

app-toolbar {
    position: fixed;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    top: 0;
    width: 100%;
    z-index: 10;
  }
