<mat-toolbar class="fixed-top">
  <mat-toolbar-row>
    <a [routerLink]="['event']"><img class="brand-logo" src="../../../assets/logo.png" alt="OVG"/></a>
    <span class="spacer"></span>
    <button mat-stroked-button color="primary" (click)="displayConnect()">Connexion</button>
    <!-- Other MatIcon : date_range // calendar_today -->
    <a [routerLink]="['event']" class="icon"><mat-icon class="toolbar-icon" aria-hidden="false" aria-labelledby="events">event</mat-icon></a>
    <a [routerLink]="['user']" class="icon"><mat-icon class="toolbar-icon" aria-hidden="false" aria-label="users">group</mat-icon></a>
    <a class="icon"><mat-icon class="toolbar-icon" aria-hidden="false" aria-label="notifications">notifications</mat-icon></a>
    <a class="icon"><mat-icon class="toolbar-icon" aria-hidden="false" aria-label="messages">mail</mat-icon></a>
    <a class="icon" [matMenuTriggerFor]="menu"><mat-icon class="toolbar-icon" aria-hidden="false" aria-label="messages">account_circle</mat-icon></a>
    <!-- Dropdown menu -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profil</span>
      </button>
      <!-- Other MatIcon :  face -->
      <button mat-menu-item>
        <mat-icon>favorite</mat-icon>
        <span>Mes amis</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Mon compte</span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>Déconnexion</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<ng-container *ngIf="displayForm">
    <app-user-form-login></app-user-form-login>
</ng-container>

